.trainers {
  min-height: 100vh;
  text-align: center;
  padding: 2% 6%;
}
.trainers h1 {
  font-size: 3.8rem;
  padding: 0.5rem;
  display: inline-block;
  color: yellowgreen;
  border-bottom: 0.3rem solid yellowgreen;
  margin-bottom: 1.8rem;
}
.trainers p {
  font-size: 1.5rem;
  color: #333;
}
.trainers .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.trainers .items .item {
  height: 40rem;
  width: 24rem;
  margin: 5rem 1rem;
}
.trainers .item img {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  object-fit: cover;
}
.trainers .item .inner {
  position: relative;
  z-index: 9999;
  padding: 0 1rem;
}
.trainers .item:hover {
  transform: translateY(-20px);
}
.trainers .item .inner .info {
  background-color: yellowgreen;
  padding: 1.2rem 1rem;
  border-radius: 0.6rem;
  margin-top: -2.5rem;
}
.trainers .item:hover .info {
  transform: translateY(-30px);
}
.trainers .item .inner .info h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  color: #000;
}
.trainers .item .inner .info p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #333;
  margin-top: 0.6rem;
}
.trainers .item .inner .info .links {
  margin-top: 1rem;
}
.trainers .item .inner .info .links a {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border-radius: 50%;
  color: yellowgreen;
  text-align: center;
  line-height: 2rem;
  margin-left: 0.3rem;
  font-size: 1.1rem;
}
.trainers .item .inner .info .links a:hover {
  box-shadow: 0 0 0.6rem #000;
}
